body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:black;
    color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navlink {
  text-align: right;
  margin-top: 20px;
  float: right;
}

.updatelink{
  border: 1px solid red;
  width:100%;
  text-align:center;
}

.dellink {
  text-align:left;
  margin-top: 20px;
  float: left;
}

#containerlist, #containershow {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
}

.listitem {
  margin: 10px 0;
}

.upperCase {
  text-transform: uppercase;
}

.addbutton{
  display:block;
  margin-top:20px;
  background:cyan;
  color:white;
  margin-left:48%;
}
.searchbutton {
  display: block;
  margin-top: 20px;
  background: cyan;
  color: white;
}

.delbutton {
  display: block;
  margin: 0 auto;
  background:cyan;
  color: #fff;
  border: 2px solid #000;
  border-radius: 3px;
}

.inputrow input{
  color:black;
}

